{{#charts}}
<section class="panel"><h2>{{title}}</h2>{{#rows}}<div class="chart"><div class="bar" style="height:{{height}}%">{{#hasCost}}<b class="bar-label">{{cost}}</b>{{/hasCost}}<span>{{{tooltip}}}</span></div>{{/rows}}</div></section>
{{/charts}}
